.container{
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.aboutGame{
    max-width: 1000px;
}


p{
    font-size: 20px;
    line-height: 200%;

    font-weight: bold;
}

.aboutFramal{
    max-width: 1000px;
}

.aboutMpdoge{
    max-width: 1000px;
}

.aboutTapik{
    max-width: 1000px;
}