.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.middle {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.roomButton {
  width: 500px;
  height: 50px;
}

.roomButton:disabled {
  width: 440px;
}

.roomDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.watchButton {
  height: 50px;
  width: 50px;
}


button {
  background-color: rgb(204, 197, 197) !important;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: rgb(177, 177, 177) !important;
}

