.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

/* Góra – przeciwnik */
.enemies {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Środek – dostępne karty po lewej */
.middle {
  flex: 2;
  display: flex;
  flex-direction: row;

  padding: 50px 0px 50px 0px;
}

.leftInfo{
  flex: 1;
  text-align: center;
  font-weight: bolder;
  font-size: larger;

  display: flex;
  align-items: center;
  justify-content: center;
}


/* Dostępne karty – po lewej */
.available {
  flex: 7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightInfo{
  flex: 1;
}



/* Dół – twoje karty */
.mine {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
