.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

/* Góra – przeciwnik */
.enemies {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Środek – dostępne karty po lewej */
.middle {
  flex: 2;
  display: flex;
  flex-direction: row;
  position: relative;

  padding: 50px 0px 50px 0px;
}

/* Dostępne karty – po lewej */
.available {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Dół – twoje karty */
.mine {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
